extends ../layout

block content
	.row
		.col-md-offset-4.col-md-4
			.panel.panel-primary
				.panel-heading Login
				.panel-body
					form(method="post", action="login", role="form")
						.form-group
							label(for="username") Email
							input.form-control(type="email", id="username", name="username", placeholder="Email", value="thm76@web.de")
						.form-group
							label(for="password") Password
							input.form-control(type="password", id="password", name="password", placeholder="Password", value="password")
						button.btn.btn-primary.pull-right(type="submit") Login
