extends ../layout

block content
	h1 Login
	form(method="post", action="login")
		input(type="text", name="username", value="thomas")
		input(type="password", name="password", value="password")
		input(type="submit", value+"Login")